body{
    background-color: black;
    font-family: 'Courier New', Courier, monospace;

}

p{
    font-size: 20px;
    
    color: white;
    position: relative;
    

    
}

a{
    font-size: 30px;
    color: green;
}

.origin{
    color:red;
    position:relative;
    left: 40%;
    top: 50%;
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
}

h1{
    color: white;
}

article{
    color:white;
    font-size: 20px;
    position: relative;
}

details{
    position:relative;
    left: 20%;
}

img{
    position: relative;
    left: 39%;

}

figcaption{
    position: relative;
    left: 30%;
}

